.language-python__yellow {
    color: #99c100;
  }
  
  .language-python__blue {
    color: #90dcfe;
  }
  
  .language-python__grey {
    color: grey;
  }
  .language-python__green {
    color: rgb(168, 240, 134);
  }
  
  .language-python__red {
    color: #e42c2c;
  }
  
  .language-python__orange {
    color: orange;
  }